[{*.kt,*.kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL

[*.{java,kt}]
ij_java_names_count_to_use_import_on_demand = 12
ij_kotlin_name_count_to_use_star_import = 12
ij_kotlin_name_count_to_use_star_import_for_members = 12
