**/target
**/build
**/src/generated
/.idea/modules/dgs-mocking/dgs-framework.dgs-mocking.iml
/.idea/modules/dgs-mocking/dgs-framework.dgs-mocking.main.iml
/.idea/modules/graphql-dgs/dgs-framework.graphql-dgs.main.iml
/.idea/modules/graphql-dgs/dgs-framework.graphql-dgs.test.iml
/.idea/modules/graphql-dgs-mocking/dgs-framework.graphql-dgs-mocking.main.iml
/.idea/modules/graphql-dgs-mocking/dgs-framework.graphql-dgs-mocking.test.iml
/.idea/modules/graphql-error-types/dgs-framework.graphql-error-types.main.iml
/.idea/modules/graphql-error-types/dgs-framework.graphql-error-types.test.iml
/.idea/modules/dgs-core.iml
/.idea/modules/dgs-framework.iml
/.idea/modules/dgs-framework.main.iml
/.idea/modules/dgs-framework.test.iml
/.idea/modules/graphql-dgs-mocking.iml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.gradle/6.7/executionHistory/executionHistory.bin
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.7/fileChanges/last-build.bin
/.gradle/6.7/fileHashes/fileHashes.bin
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.7/fileHashes/resourceHashesCache.bin
/.gradle/6.7/javaCompile/classAnalysis.bin
/.gradle/6.7/javaCompile/jarAnalysis.bin
/.gradle/6.7/javaCompile/javaCompile.lock
/.gradle/6.7/javaCompile/taskHistory.bin
/.gradle/6.7/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/checksums/checksums.lock
/.gradle/checksums/md5-checksums.bin
/.gradle/checksums/sha1-checksums.bin
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
